<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- font awesome fonts  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Bootstrap JS CDN link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!-- Loader CSS link -->
    <link rel="stylesheet" href="/loaderStyle.css">

    <!-- Favicon Link  -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- My CSS link -->
    <link rel="stylesheet" href="/styles.css">
    <title>🍒Fruitful🍊</title>
</head>

<body style="overflow: hidden; text-align: left;">
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <div class="MyNavDiv" id="MyNavTitle">
        <h2 style="margin: 0;">Fruit<span>Ful</span></h2>
        <div style="background-color: rgb(44, 185, 44);">
            <h3 style="margin:0">Welcome dear <span style="color: rgb(168, 255, 165);"> <strong>
                        <%=name%>
                    </strong>
                </span>
            </h3>
        </div>
    </div>
    <!-- Nav Bar start -->
    <div class="MyNavDiv" id="NavBar">
        <div class="container">
            <a href="/"><button>Home</button></a>
            <a href="/IOT"><button>Agri-IOT</button></a>
            <a href="/market"><button>Sell/Buy</button></a>
            <a href="/newProduct"><button>Sell Online</button></a>
            <a href="/myProducts"><button disabled style="background-color: green;color: white;">My
                    Products</button></a>

        </div>
    </div>
    <!-- Nav Bar End  -->
    <div style="margin: 15px;">
        <h5>This is the list of your products which are online.</h5>
        <form action="/myProducts" method="post">
            <table>
                <% for(var i=0; i<productList.length; i++) {%>
                    <tr>
                        <td>
                            <input style="padding: 10px;" type="checkbox" name=<%=productList[i].ProductId %> id="">
                        </td>
                        <td style="padding-left: 10px;padding-right: 10px; font-size: 1.2rem;">
                            <h4>
                                <%= productList[i].ProductName %> (₹<%= productList[i].cost %>)
                            </h4>
                        </td>
                    </tr>
                    <% } %>
                        <tr>
                            <td>

                            </td>
                            <td style="padding-top: 15px;">
                                <button type="submit" class="btn btn-outline-danger">Remove from Market</button>
                            </td>
                        </tr>
            </table>
        </form>

    </div>

    <!-- Vanilla tilt -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"
        integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- JQuery Link  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- LoaderJs file Link  -->
    <script src="/loaderAnimation.js"></script>

    <!-- JavaScript link -->
    <script src="/sellerInfo.js"></script>
</body>

</html>