<!-- Footer begin -->
<footer class="text-center footer">
    <section class="footerSection">
        <div class="container p-4 footerContainer" style="padding-top: 0;">
            <div class="row  text-md-start mt-5">
                <!--Brand name start-->
                <div class="col-md-4 ">
                    <h2 style="margin: 0;">Fruit<span>Ful</span></h2>
                    <p class="copy-right"> Copyright © 2023<br>FruitFul Technologies. All Rights Reserved.</p>
                </div>
                <!--Brand name end-->

                <!--Services Start-->
                <div class="col-md-3">
                    <h3>Services </h3>
                    <ul class="list-style ps-0 ">
                        <li class="pb-2"><a class="footerLinks" href="/market">Direct Sell Marketplace</a></li>
                        <li class="pb-2"><a class="footerLinks" href="/i-Smart">i-Smart</a></li>
                    </ul>
                </div>
                <!--Services end-->

                <!--Quick links Start-->
                <div class="col-md-3 ">
                    <h3> Quick links </h3>
                    <ul class="list-style ps-0">
                        <li class="pb-2"><a class="footerLinks" href="/#OurMissionID">Our Mission</a></li>
                        <li class="pb-2"><a class="footerLinks" href="/#aboutUs">Our Services</a></li>
                        <li class="pb-2"><a class="footerLinks" href="/#OurClientsID">Our Clients</a></li>
                    </ul>
                </div>
                <!--QUick links end-->

                <!--Creators Start-->
                <div class="col-md-2 ">
                    <h3> Contact us</h3>
                    <ul class="list-style ps-0">
                        <li class="pb-2"><a target="_blank" class="footerLinks"
                                href="https://www.linkedin.com/in/sanjay-kumar-konakandla/">Sanjay Kumar
                                Konakandla</a></li>
                        <li class="pb-2"><a target="_blank" class="footerLinks"
                                href="https://www.linkedin.com/in/durga-prasad-akurathi/">Akurathi Durga Prasad</a>
                        </li>
                        <li class="pb-2"><a target="_blank" class="footerLinks"
                                href="https://www.linkedin.com/in/satwik-ch-5890bb152/">Satwik Chandaluri</a></li>
                    </ul>
                </div>
                <!--Other end-->
            </div>

        </div>
    </section>
</footer>
<!-- Footer ends -->