<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- font awesome fonts  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- My CSS link -->
    <link rel="stylesheet" href="/styles.css">

    <!-- Loader CSS link -->
    <link rel="stylesheet" href="/loaderStyle.css">

    <!-- Favicon Link  -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <title>🍒Fruitful🍊</title>
</head>

<body style="overflow-y: hidden;">
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <!-- Nav Bar start -->
    <div class="MyNavDiv">
        <h2>Fruit<span>Ful</span></h2>
        <button class="nav-button cross-button" type="button" id="toggle-button"
            aria-label="open/close navigation"></button>
        <a href="/" id="homeBtn" class="hide navDivBtns"><button style="background-color: green;color: white;"
                disabled>Home</button></a>
        <a href="#" id="agriIOTBtn" class="hide navDivBtns"><button>Agri-IOT</button></a>
        <a href="/market" id="marketBtn" class="hide navDivBtns"><button>Sell/Buy</button></a>
        <a href="/about" id="aboutBtn" class="hide navDivBtns"><button>About</button></a>
        <% if(name !="Login👤" ) { %>
            <h3 style="margin:0">Welcome dear <span style="color: green;">
                    <%=name%>
                </span>
            </h3>
            <% }else{ %>
                <a href="login" id="loginBtn" class="hide navDivBtns"><button>Login👤</button></a>
                <% } %>

    </div>
    <!-- Nav Bar End  -->

    <!-- Carousel Start  -->
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/agri1.jpg" class="d-block w-100 mainPageImage" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: green;">Proud for innovations</h5>
                    <p style="color: green;">We are providing our hand in agro tech advancements.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/agri4.jpg" class="d-block w-100 mainPageImage" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p> -->
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/agriIOT.jpg" class="d-block w-100 mainPageImage" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Proud for innovations</h5>
                    <p>We are helping many farmers to improve their
                        <br>
                        yield and sell their crop at best rate.
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel End  -->

    <!-- Quote Division Start  -->
    <div class="QuoteDiv">
        <marquee direction="left">📢Market place is open for all registered farmers and traders. Click Sell/Buy to see,
            buy or sell in the market place.</marquee>
    </div>
    <!-- Quote Division End  -->

    <!-- Our Mission section start  -->
    <h2 class="OurMission">Our <span style="color: green;">Mission</span></h2>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <table style="width: 100%;height: 100%;">
                <tr>
                    <td>
                        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow
                                your
                                mind.</span></h2>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod nunc sapien. Sed nunc
                            leo,
                            pulvinar id purus eget, pulvinar lacinia purus. Sed pharetra ornare tellus finibus auctor.
                            Phasellus
                            quis dapibus erat. Nunc sollicitudin nulla at quam mollis molestie. Phasellus pulvinar
                            suscipit velit
                            quis mollis. Suspendisse lacus felis, placerat a turpis vel, imperdiet malesuada erat.
                            Donec a pulvinar urna, non pulvinar sem. In nunc sapien, ultrices porttitor feugiat quis,
                            pharetra a
                            justo. Cras sed pharetra quam. Integer euismod consectetur facilisis. Nam in ex auctor felis
                            iaculis
                            placerat. Aliquam magna ipsum, dignissim sit amet mauris id, malesuada ultricies libero.
                            Vestibulum
                            lectus ligula.
                            <br>
                            Proin convallis quam erat, eget rhoncus odio accumsan iaculis. Nullam rutrum, massa id
                            commodo faucibus,
                            risus orci tempor urna, id semper orci metus egestas ipsum.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-5 featuretteImage" style="padding: 0;">
            <table style="width: 100%;height: 100%;">
                <tr>
                    <td>
                        <img class="tilt" id="myFeaturetteImage" style="border-radius: 25px;"
                            src="https://via.placeholder.com/500" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Our Mission Section End  -->

    <!-- Our Services section start  -->


    <div class="row featurette" style="background-color: #fdff96;">
        <h2 class="OurMission">Our <span style="color: green;">Services</span></h2>

        <hr class="featurette-divider">
        <div class="col-md-5 featuretteImage servicesImages" style="padding: 0;">
            <table style="width: 100%;height: 100%;">
                <tr>
                    <td>
                        <img class="tilt" id="myFeaturetteImage" style="border-radius: 50%;"
                            src="https://via.placeholder.com/500" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-7">
            <table style="width: 100%;height: 100%;">
                <tr>
                    <td>
                        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow
                                your
                                mind.</span></h2>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod nunc sapien. Sed nunc
                            leo,
                            pulvinar id purus eget, pulvinar lacinia purus. Sed pharetra ornare tellus finibus auctor.
                            Phasellus
                            quis dapibus erat. Nunc sollicitudin nulla at quam mollis molestie.
                            <br>
                            Proin convallis quam erat, eget rhoncus odio accumsan iaculis. Nullam rutrum, massa id
                            commodo faucibus,
                            risus orci tempor urna, id semper orci metus egestas ipsum.
                        </p>
                    </td>
                </tr>
            </table>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <table style="width: 100%;height: 100%;">
                    <tr>
                        <td>
                            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow
                                    your
                                    mind.</span></h2>
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod nunc sapien. Sed
                                nunc
                                leo,
                                pulvinar id purus eget, pulvinar lacinia purus. Sed pharetra ornare tellus finibus
                                auctor.
                                Phasellus
                                quis dapibus erat. Nunc sollicitudin nulla at quam mollis molestie.
                                <br>
                                Proin convallis quam erat, eget rhoncus odio accumsan iaculis. Nullam rutrum, massa id
                                commodo faucibus,
                                risus orci tempor urna, id semper orci metus egestas ipsum.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5 featuretteImage servicesImages" style="padding: 0;">
                <table style="width: 100%;height: 100%;">
                    <tr>
                        <td>
                            <img class="tilt" id="myFeaturetteImage" style="border-radius: 50%;"
                                src="https://via.placeholder.com/500" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5 featuretteImage servicesImages" style="padding: 0;">
                <table style="width: 100%;height: 100%;">
                    <tr>
                        <td>
                            <img class="tilt" id="myFeaturetteImage" style="border-radius: 50%;"
                                src="https://via.placeholder.com/500" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7">
                <table style="width: 100%;height: 100%;">
                    <tr>
                        <td>
                            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll
                                    blow
                                    your
                                    mind.</span></h2>
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod nunc sapien.
                                Sed nunc
                                leo,
                                pulvinar id purus eget, pulvinar lacinia purus. Sed pharetra ornare tellus finibus
                                auctor.
                                Phasellus
                                quis dapibus erat. Nunc sollicitudin nulla at quam mollis molestie.
                                <br>
                                Proin convallis quam erat, eget rhoncus odio accumsan iaculis. Nullam rutrum, massa
                                id
                                commodo faucibus,
                                risus orci tempor urna, id semper orci metus egestas ipsum.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- Our Services Section End  -->

    <!-- Our Clients Section start  -->
    <h2 class="OurMission">Our <span style="color: green;">Clients</span></h2>

    <hr class="featurette-divider">
    <!-- Customer words -->
    <div class="row">
        <div class="col-lg-4 CustomerWordsDiv" style="text-align: center; padding-left: 50px;">
            <div class="internalWordsDiv">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/images/people/person1.jpg"
                    role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect></img>
                <h2 class="fw-normal">Amelia Yu</h2>
                <p>I'm from Sweden, I love India that's why I choosed university named Lovely Professional
                    University in
                    India.
                    My dreams to travel different places in India was succeeded by the help of Sanjay Travels.
                    They have
                    Lady
                    Drivers also if we
                    need. They showed us different places and they are very friendly. It's my pleasure to travel
                    with
                    Sanjay
                    Travels.</p>
            </div>
        </div><!-- /.col-lg-4 CustomerWordsDiv -->
        <div class="col-lg-4 CustomerWordsDiv" style="text-align: center;">
            <div class="internalWordsDiv">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/images/people/person2.jpg"
                    role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect></img>
                <h2 class="fw-normal">Dr. Gourav Singh</h2>
                <p>I'm a senior professor at Lovely Professional University. Sanjay Travels is an initiative
                    taken by a
                    student
                    of our university. So I gave it a try and booked for a trip. I am impressed
                    with their service and the drivers were very polite during my trip. After my trip I've
                    suggested
                    this
                    travels
                    with many of my collegues.
                <p>
            </div>

        </div><!-- /.col-lg-4 CustomerWordsDiv -->
        <div class="col-lg-4 CustomerWordsDiv" style="text-align: center; padding-right: 50px;">
            <div class="internalWordsDiv">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/images/people/person3.jpg"
                    role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect></img>
                <h2 class="fw-normal">Micheal Smith</h2>
                <p>I'm from North America. Actually I'm a little bit introvert and I am not talkative. But still
                    my
                    journey
                    with
                    Sanjay Travels gave me
                    new friends and great memories. Thanks a lot Sanjay Travels, keep going.</p>
            </div>
        </div><!-- /.col-lg-4 CustomerWordsDiv -->
    </div><!-- /.row -->
    </div>
    <!-- Our clients Section end  -->

    <a href="/logout"><button class="btn btn-outline-danger">Logout</button></a>

    <!-- Bootstrap JS CDN link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!-- Vanilla tilt -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"
        integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- JQuery Link  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- LoaderJs file Link  -->
    <script src="/loaderAnimation.js"></script>

    <!-- JavaScript link -->
    <script src="/index.js"></script>
</body>

</html>