<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Login to 🍒Fruitful🍊.</title>

    <!-- Favicon Link  -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Loader CSS link -->
    <link rel="stylesheet" href="/loaderStyle.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Dancing+Script:wght@700&family=Great+Vibes&family=Gruppo&family=Satisfy&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }

        .btn:hover,
        .btn:focus {
            transition-duration: 0;
        }

        html {
            font-size: 62.5%;
        }

        html {
            overflow-x: hidden;
        }

        html::-webkit-scrollbar {
            width: 0.5rem;
        }

        html::-webkit-scrollbar-track {
            background: rgb(148, 255, 155);
        }

        html::-webkit-scrollbar-thumb {
            background: #036500;
        }

        html::-webkit-scrollbar-thumb {
            background: #036500;
        }

        html::-webkit-scrollbar-thumb:hover {
            background: #035200;
        }

        html::-webkit-scrollbar-thumb:active {
            background: #ffffff;
        }

        html {
            background-image: url(./formBG.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            overflow-y: hidden;
        }

        ::placeholder {
            color: white;
        }

        body {
            margin-top: -40px;
            background: linear-gradient(to bottom right, rgba(66, 200, 255, 0.7), rgba(27, 160, 0, 0.8));
            background-color: rgba(0, 0, 0, 0);
            color: rgba(3, 54, 0, 0.6);
            background-attachment: fixed;
            min-height: 100vh;
            overflow-y: hidden;
        }

        .errorMSG {
            font-size: 1.6rem;
            background-color: rgba(255, 210, 210, 0.7);
            font-weight: 600;
            border-radius: 15px;
            color: rgba(179, 0, 0, 0.7);
            border: 1px solid rgb(179, 0, 0, 0.6);
            transition: 0.3s;
        }

        #nameTextEng {
            margin: 1rem;
            text-align: center;
            color: rgba(0, 69, 2, 0.7);
        }

        h1 {
            font-size: 4rem;
            text-align: center;
            color: rgb(255, 255, 255);
            font-weight: 800;
        }

        #container {
            position: relative;
            top: 10%;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(6px);
            padding: 3rem;
            border-radius: 36px;
            width: 45rem;
            margin: 4rem auto;
            outline: none;
            border-width: 1px;
            transition: .3s;
        }

        .input-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem;
        }

        .input-wrapper label {
            font-size: 1.8rem;
            text-align: left;
            color: rgb(240, 240, 240);
            font-weight: 600;
        }

        .input-wrapper input {
            padding: 1.2rem;
            font-size: 2rem;
            width: 100%;
            margin-top: -1rem;
            font-weight: bold;
            text-align: center;
            outline: none;
            background-color: rgba(255, 255, 255, 0.25);
            border: 1px solid rgba(128, 128, 128, 0);
            color: rgba(0, 100, 0, 0.7);
            border-radius: 2rem;
        }

        .input-wrapper input:focus,
        .input-wrapper input:valid {
            border: 1px solid rgb(0, 150, 0);
        }

        .input-wrapper input::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
            display: none;
        }

        #SubmitButton {
            margin-top: 60px;
            font-size: 200%;

        }

        .btn-success {
            padding: 4px 36px 4px 36px;
            border-radius: 12px;
        }


        @media screen and (max-width:460px) {
            html {
                font-size: 52%;
            }
        }

        /* Animation purpose only */
        .hiddenContainer {
            opacity: 0;
            filter: blur(5px);
            transform: translateX(-100%);
            transition: all 0.5s;
        }

        .hiddenInput {
            filter: blur(2px);
            opacity: 0;
        }

        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0);
            transition: all 0.5s;
        }

        .shownInput {
            opacity: 1;
            filter: blur(0);
            transition: all 0.5s;
        }
    </style>
</head>

<body style="overflow-y: hidden;">
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <!-- Box for inputs start -->
    <div id="container" class="hiddenContainer">

        <form action="/login" method="post">
            <h1 class="hiddenInput"><span
                    style="font-family: 'Dancing Script', cursive; color: #035200;">🍒Fruitful🍊</span></h1>
            <% if(error){ %>
                <p class="errorMSG">Incorrect credentials or Blocked</p>
                <% } %>
                    <div class="input-wrapper">
                        <label for="emailId" class="hiddenInput">Email id:</label><br>
                        <input name="emailId" type="email" value="" id="emailField" required autofocus
                            spellcheck="false" autocomplete="off" class="hiddenInput" placeholder="Your email ID">
                    </div>
                    <div class="input-wrapper">
                        <label for="password" class="hiddenInput">Password:</label><br>
                        <input name="password" type="password" class="hiddenInput" value="" id="PasswordField" required
                            style="font-size: 1.7rem;" placeholder="Password">
                        <p style="text-align: left;font-size: 1.6rem;" class="hiddenInput">if you are new to Fruitful <a
                                href="userRegister" class="hiddenInput">Click
                                here</a>
                        </p>
                    </div>
                    <button class="btn btn-success hiddenInput" type="submit"
                        id="SubmitButton"><strong>Login</strong></button>
        </form>

        <!-- Box for inputs end -->
    </div>


    <!-- JQuery Link  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- LoaderJs file Link  -->
    <script src="/loaderAnimation.js"></script>

    <script>
        $(window).on("load", function () {
            setTimeout(() => {
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach((entry) => {
                        if (entry.isIntersecting) {
                            entry.target.classList.add("show");
                        }
                    })
                });
                const hiddenElements = document.querySelectorAll(".hiddenContainer");
                const reverseHiddenElements = document.querySelectorAll(".hiddenR2L")
                hiddenElements.forEach((el) => observer.observe(el));
                reverseHiddenElements.forEach((el) => observer.observe(el));
            }, 200);
        });
        $(window).on("load", function () {
            setTimeout(() => {
                let myInputs = document.getElementsByClassName("hiddenInput");
                let timer = 100;
                for (let i = 0; i < myInputs.length; i++) {
                    setTimeout(() => {
                        myInputs[i].classList.add("shownInput");
                    }, 100 + timer);
                    timer += 100;
                }
            }, 400);
        });
    </script>

</body>

</html>