<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Sell on Fruitful.</title>

    <!-- Favicon Link  -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Loader CSS link -->
    <link rel="stylesheet" href="/loaderStyle.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Dancing+Script:wght@700&family=Great+Vibes&family=Gruppo&family=Satisfy&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }

        html {
            font-size: 62.5%;
        }

        html {
            overflow-x: hidden;
        }

        html::-webkit-scrollbar {
            width: 0.5rem;
        }

        html::-webkit-scrollbar-track {
            background: rgb(148, 255, 155);
        }

        html::-webkit-scrollbar-thumb {
            background: #036500;
        }

        html::-webkit-scrollbar-thumb {
            background: #036500;
        }

        html::-webkit-scrollbar-thumb:hover {
            background: #035200;
        }

        html::-webkit-scrollbar-thumb:active {
            background: #ffffff;
        }

        html {
            background-image: url(./formBG.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        ::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }


        body {
            margin-top: -40px;
            min-height: 100vh;
            background-color: rgba(3, 82, 0, 0);
        }

        .myGradientBG {
            margin-top: -40px;
            background: linear-gradient(to bottom right, rgba(66, 200, 255, 0.7), rgba(27, 160, 0, 0.8));
            color: rgba(3, 54, 0, 0.6);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            min-height: 100vh;
            padding: 5% 0 5% 0;
        }


        #nameTextEng {
            margin: 1rem;
            text-align: center;
            color: rgba(0, 69, 2, 0.7);
        }

        h1 {
            font-size: 4rem;
            text-align: center;
            color: rgb(255, 255, 255);
            font-weight: 800;
        }

        .hide {
            transition: all 1s;
            display: none;
        }

        .btn:hover,
        .btn:focus {
            transition-duration: 0;
        }

        #container {
            position: relative;
            top: 10%;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(6px);
            padding: 3rem;
            border-radius: 36px;
            width: 45rem;
            margin: 4rem auto;
            outline: none;
            border-width: 1px;
            transition: .3s;
        }

        .input-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem;
        }

        .input-wrapper label {
            font-size: 1.8rem;
            text-align: left;
            color: rgb(240, 240, 240);
            font-weight: 600;
        }

        .input-wrapper input {
            padding: 1.2rem;
            font-size: 2rem;
            width: 100%;
            margin-top: -1rem;
            font-weight: bold;
            text-align: center;
            outline: none;
            background-color: rgba(255, 255, 255, 0.25);
            border: 1px solid rgba(128, 128, 128, 0);
            color: rgba(0, 100, 0, 0.7);
            border-radius: 2rem;
        }

        .input-wrapper textarea {
            padding: 1.2rem;
            font-size: 2rem;
            width: 100%;
            margin-top: -1rem;
            font-weight: bold;
            text-align: center;
            outline: none;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid gray;
            color: rgb(0, 110, 0);
            border-radius: 2rem;
        }

        .input-wrapper select {
            padding: 1.2rem;
            font-size: 2rem;
            width: 100%;
            margin-top: -1rem;
            font-weight: bold;
            text-align: center;
            outline: none;
            background-color: rgba(255, 255, 255, 0.25);
            border: 1px solid rgb(0, 150, 0);
            color: rgb(0, 110, 0);
            border-radius: 2rem;
        }

        .input-wrapper select:focus {
            border: 1px solid rgb(0, 150, 0);
        }

        .input-wrapper input:focus,
        .input-wrapper input:valid,
        .input-wrapper textarea:valid,
        .input-wrapper select:valid {
            border: 1px solid rgb(0, 150, 0);
        }

        #SubmitButton {
            margin-top: 60px;
            font-size: 200%;

        }

        .myLoginBtn {
            background-color: rgba(255, 111, 0, 0.85);
            border: 1px solid rgba(0, 0, 0, 0.55);
            font-weight: 800;
            padding: 4px 36px 4px 36px;
            border-radius: 12px;
            color: rgba(255, 255, 255, 0.8);
        }

        .myLoginBtn:hover {
            background-color: rgba(242, 105, 0, 0.926);
            color: rgba(255, 255, 255, 0.9);
            border: 1px solid rgb(255, 255, 255);
            padding: 4px 36px 4px 36px;
            border-radius: 12px;
        }

        .myLoginBtn:active {
            background-color: rgba(255, 150, 69, 0.926);
        }

        .btn-success {
            padding: 4px 36px 4px 36px;
            border-radius: 12px;
        }

        @media screen and (max-width:460px) {
            html {
                font-size: 52%;
            }
        }

        /* Animation purpose only */
        .hiddenContainer {
            opacity: 0;
            filter: blur(5px);
            transform: translateX(-100%);
            transition: all 0.5s;
        }

        .hiddenInput {
            filter: blur(2px);
            opacity: 0;
        }

        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0);
            transition: all 0.5s;
        }

        .shownInput {
            opacity: 1;
            filter: blur(0);
            transition: all 0.5s;
        }
    </style>
    <script>
        function checkOther() {
            if (document.getElementById("cropNameField").value == "Other") {
                document.getElementById("otherLabel").classList.remove("hide");
                document.getElementById("otherField").classList.remove("hide");
                document.getElementById("otherField").value = "";
            }
            else {
                document.getElementById("otherLabel").classList.add("hide");
                document.getElementById("otherField").classList.add("hide");
                document.getElementById("otherField").value = "Something";
            }
        }
    </script>
</head>

<body>
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <div class="myGradientBG">
        <!-- Box for inputs start -->
        <div id="container" class="hiddenContainer">

            <form action="/newProduct" method="post">
                <h1 class="hiddenInput">Sell</span></h1>
                <div class="input-wrapper">
                    <label for="CropName" class="hiddenInput">Crop name: *</label><br>
                    <select name="CropName" id="cropNameField" class="hiddenInput" onchange=checkOther()>
                        <option value="Apple">Apple</option>
                        <option value="Banana">Banana</option>
                        <option value="Corn">Corn</option>
                        <option value="Cotton">Cotton</option>
                        <option value="Grapes">Grapes</option>
                        <option value="Groundnut">Ground nuts</option>
                        <option value="Guava">Guava</option>
                        <option value="Mango">Mango</option>
                        <option value="Mirchi">Mirchi</option>
                        <option value="Paddy">Paddy</option>
                        <option value="Potato">Potatoes</option>
                        <option value="Tea">Tea leafs</option>
                        <option value="Tomato">Tomatoes</option>
                        <option value="Wheat">Wheat</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="input-wrapper hide">
                    <label for="OtherName" class="hide" id="otherLabel">Other Name: *</label><br>
                    <input name="OtherName" class="hide" type="text" id="otherField" value="Something"
                        placeholder="Name of your product" required spellcheck="false" autocomplete="off">
                </div>
                <div class="input-wrapper">
                    <label for="Description" class="hiddenInput">Description (max 150 characters): *</label><br>
                    <textarea name="Description" id="DescriptionField" cols="30" rows="4" autocomplete="off"
                        spellcheck="false" autocomplete="off" maxlength="150" required
                        placeholder="Enter description of the crop" class="hiddenInput" autofocus></textarea>
                </div>
                <div class="input-wrapper">
                    <label for="Cost" class="hiddenInput">Cost (per Kg) ₹: *</label><br>
                    <input name="Cost" class="hiddenInput" type="number" min="20" step="0.01" value="" id="CostField"
                        placeholder="Please enter selling price" required spellcheck="false" autocomplete="off">
                </div>
                <div class="input-wrapper">
                    <label for="Quantity" class="hiddenInput">Quantity: *</label><br>
                    <input type="number" class="hiddenInput" min="15" max="1000" name="Quantity" value="" required
                        placeholder="Quantity in KGs" spellcheck="false" autocomplete="off">
                </div>
                <div class="input-wrapper">
                    <label for="Location" class="hiddenInput">Location: *</label><br>
                    <input name="Location" class="hiddenInput" type="text" value="" id="locationField"
                        placeholder="Please enter valid address" required spellcheck="false" autocomplete="off">
                </div>
                <div class="input-wrapper">
                    <label for="deviceUsed" class="hiddenInput">Choose Sensor area: *</label><br>
                    <select name="deviceUsed">
                        <option value="NA">NA</option>
                        <% for(let i=0;i<sensors.length;i++) { %>
                            <option value="<%=sensors[i].Link%>">
                                <%=sensors[i].deviceName%>
                            </option>
                            <% } %>
                    </select>
                </div>
                <button class="myLoginBtn hiddenInput" type="submit" id="SubmitButton"><strong>Add to
                        market</strong></button>

            </form>

            <!-- Box for inputs end -->
        </div>
        <!-- Footer text start -->
        <h3 id="nameTextEng" class="hiddenInput">©️ Fruitful technologies.</h3>
        <!-- Footer text end -->
    </div>


    <!-- JQuery Link  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- LoaderJs file Link  -->
    <script src="/loaderAnimation.js"></script>

    <script>
        $(window).on("load", function () {
            setTimeout(() => {
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach((entry) => {
                        if (entry.isIntersecting) {
                            entry.target.classList.add("show");
                        }
                    })
                });
                const hiddenElements = document.querySelectorAll(".hiddenContainer");
                const reverseHiddenElements = document.querySelectorAll(".hiddenR2L")
                hiddenElements.forEach((el) => observer.observe(el));
                reverseHiddenElements.forEach((el) => observer.observe(el));
            }, 200);
        });
        $(window).on("load", function () {
            setTimeout(() => {
                let myInputs = document.getElementsByClassName("hiddenInput");
                let timer = 100;
                for (let i = 0; i < myInputs.length; i++) {
                    setTimeout(() => {
                        myInputs[i].classList.add("shownInput");
                    }, 100 + timer);
                    timer += 100;
                }
            }, 400);
        });
    </script>
</body>

</html>