@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Dancing+Script:wght@700&family=Great+Vibes&family=Gruppo&family=Satisfy&display=swap');

html {
    overflow-x: hidden;
}

body {
    font-family: 'Alkatra', cursive;
    color: #444444;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: rgb(148, 255, 155);
}

html::-webkit-scrollbar-thumb {
    background: #036500;
}

html::-webkit-scrollbar-thumb:hover {
    background: #035200;
}

html::-webkit-scrollbar-thumb:active {
    background: #40ff06;
}

.hide {
    display: inline-block;
    transition: all 0.5s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

@media(max-width:768px) {
    .hide {
        display: none;
    }

    .nav-button {
        opacity: 100%;
    }

    body {
        overflow-x: hidden;
    }
}

#MyNavTitle {
    text-align: center;
    padding: 0;
    width: 100%;
    background: none;
    display: block;
    z-index: 5;
}

.MyNavDiv {
    text-align: center;
    padding: 1.2vh 0 0.6vh 0;
    background: linear-gradient(to bottom right, rgba(0, 255, 0, 0.75), rgba(255, 217, 0, 0.75));
    backdrop-filter: blur(4px);
    /* position: fixed; */
    width: 100%;
    display: block;
    z-index: 5;
}

.navDivBtns {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Common Nav button styles */
.nav-button {
    position: absolute;
    right: 10%;
    top: 9px;
    z-index: 10;
    height: 1.4rem;
    width: 1.8rem;
    background-color: transparent;
    background-image: linear-gradient(to right, currentColor, currentColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    padding: 0;
    outline: 0;
    border: 0;
    color: #333;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: .25s cubic-bezier(.17, .67, .89, 1.4);
    transition-property: transform;
    will-change: transform;
}

.nav-button::before,
.nav-button::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    height: 5px;
    background: currentColor;
    transition: .25s;
    transition-property: transform, top;
    will-change: transform, top;
}

.nav-button::before {
    top: 0;
}

.nav-button::after {
    top: calc(100% - 4px);
}


/* cross button */
.cross-button:focus {
    background-image: none;
}

.cross-button:focus::before,
.cross-button:focus::after {
    top: 50%;
}

.cross-button:focus::before {
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
}

.cross-button:focus::after {
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -45deg);
}


@media(max-width:1100px) {
    .MyNavDiv {
        position: relative;
    }
}

@media(max-width:1260px) {
    .myFeaturetteImage {
        width: 100%;
        height: auto;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.MyNavDiv h2 {
    color: white;
    background-color: rgb(44, 185, 44);
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
}

span {
    color: rgb(255, 221, 0);
}

.btn:hover,
.btn:focus {
    transition-duration: 0;
}

.MyNavDiv a button {
    font-size: 1.2rem;
    background: none;
    color: rgb(0, 100, 12);
    margin-top: 5px;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.MyNavDiv a button:hover {
    background-color: rgb(0, 139, 16);
    transition: all .4s ease;
    color: white;
}

.MyNavDiv a button:active {
    background-color: rgba(0, 139, 16, 0.824);
    transition: all .4s ease;
    color: white;
}

.QuoteDiv {
    text-align: center;
    background-color: #3d5d36;
    color: white;
    height: 24px;
}

.QuoteDiv p {
    margin: 0;
}

.OurMission {
    margin: 15px;
    margin-bottom: 6px;
    text-align: center;
}

.featurette {
    padding: 30px;
}

@media(max-width:768px) {
    .myFeaturetteImage {
        margin: 12px;
        width: 80%;
    }

    .MyNavDiv {
        padding: 0;
    }
}

.myFeaturetteImage {
    border-radius: 25px;
    width: 85%;
}

.breakAll {
    word-break: break-all;
}

.narrow {
    padding: 10px;
    height: 60px;
    width: 250px;
    margin: 15px;
    margin-top: 0;
    font-size: 12px;
}

.myProductBox {
    border: 1px solid;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    margin: 0 0 30px 30px;
    display: inline-block;
}

.myProductBox:hover {
    background-color: rgb(242, 255, 240);
    color: rgb(17, 89, 10);
    transition: all 0.5s;
}

.myProductBox img {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin-bottom: 5px;
}

.myProductBox button {
    margin-bottom: 15px;
    margin-top: 5px;
}

.myProductBox h2 {
    margin-bottom: 0;
    color: green;
}

.mainMarketDiv {
    text-align: center;
}

.CustomerWordsDiv {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}


@media(max-width:768px) {
    .servicesImages {
        display: none;
    }
}

.internalWordsDiv {
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}

.internalWordsDiv:hover {
    background-color: rgb(242, 255, 240);
    color: rgb(17, 89, 10);
    transition: all 0.5s;
}

.internalWordsDiv:hover img {
    border: 2px solid rgb(39, 39, 39);
    transition: all 0.2s;
}

.footer {
    color: #fff;
    /* background-color: green; */
    background-image: url(./images/footerBG.jpg);
    width: 100%;
    width: 100%;
    background-size: auto 100%;
}

.footer h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.2rem;
}

.footerSection {
    backdrop-filter: blur(12px);
    height: 100%;
    background-color: rgba(0, 65, 22, 0.75);
}

.list-style {
    list-style-type: none !important;
    cursor: pointer;
    font-size: 1rem;
    opacity: .8;
}

.footerLinks:hover {
    color: rgb(255, 242, 0);
    font-size: 1.01rem;
}
.copy-right {
    font-size: .75rem;
    opacity: .8;
}

.footerLinks {
    text-decoration: none;
    color: white;
}