@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Dancing+Script:wght@700&family=Great+Vibes&family=Gruppo&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgba(72, 72, 72, 0.85);
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: rgb(148, 255, 155);
}

html::-webkit-scrollbar-thumb {
    background: #036500;
}

html::-webkit-scrollbar-thumb:hover {
    background: #035200;
}

html::-webkit-scrollbar-thumb:active {
    background: #40ff06;
}

.hide {
    display: inline-block;
    transition: all 0.5s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

@media(max-width:768px) {
    .hide {
        display: none;
    }

    .nav-button {
        opacity: 100%;
    }

    body {
        overflow-x: hidden;
    }
}

#MyNavTitle {
    text-align: center;
    padding: 0;
    width: 100%;
    background: none;
    display: block;
    z-index: 5;
}

.MyNavDiv,
.myNavDiv .container {
    text-align: center;
    /* padding: 1.2vw 0 0.6vw 0; */
    background-color: rgba(44, 185, 44, 0.6);
    /* background: linear-gradient(to bottom right, rgba(0, 255, 0, 0.75), rgba(255, 217, 0, 0.75)); */
    backdrop-filter: blur(4px);
    /* position: fixed; */
    width: 100%;
    display: block;
    z-index: 5;
}

.navDivBtns button,
.navDivBtns .container button {
    -webkit-animation: fadeIn 1s;
    padding: 4px 16px 4px 16px;
    animation: fadeIn 1s;
}

/* Common Nav button styles */
.nav-button {
    position: absolute;
    right: 10%;
    top: 9px;
    z-index: 10;
    height: 1.4rem;
    width: 1.8rem;
    background-color: transparent;
    background-image: linear-gradient(to right, currentColor, currentColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    padding: 0;
    outline: 0;
    border: 0;
    color: #333;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: .25s cubic-bezier(.17, .67, .89, 1.4);
    transition-property: transform;
    will-change: transform;
}

.nav-button::before,
.nav-button::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    height: 5px;
    background: currentColor;
    transition: .25s;
    transition-property: transform, top;
    will-change: transform, top;
}

.nav-button::before {
    top: 0;
}

.nav-button::after {
    top: calc(100% - 4px);
}


/* cross button */
.cross-button:focus {
    background-image: none;
}

.cross-button:focus::before,
.cross-button:focus::after {
    top: 50%;
}

.cross-button:focus::before {
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
}

.cross-button:focus::after {
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -45deg);
}


@media(max-width:1100px) {
    .MyNavDiv {
        position: relative;
    }
}

@media(max-width:1260px) {
    .myFeaturetteImage {
        width: 100%;
        height: auto;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.MyNavDiv h2 {
    color: white;
    background-color: rgb(44, 185, 44);
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
}

span {
    color: rgb(255, 221, 0);
}

.btn:hover,
.btn:focus {
    transition-duration: 0;
}

.MyNavDiv a button {
    font-size: 1.2rem;
    background: none;
    color: rgb(0, 100, 12);
    margin-top: 5px;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.WelDear {
    color: rgb(68, 73, 69);
}

.WelDear h3 span {
    color: rgb(236, 235, 235);
}

.MyNavDiv a button:hover {
    background-color: rgb(0, 139, 16);
    transition: all .4s ease;
    color: white;
}

.MyNavDiv a button:active {
    background-color: rgba(0, 139, 16, 0.824);
    transition: all .4s ease;
    color: white;
}

#myAccountBtn {
    position: absolute;
    padding: 2px 20px 2px 20px;
    right: 2%;
    font-size: 1.2rem;
    background-color: rgb(0, 143, 0);
    margin-top: 4px;
    color: white;
    border: none;
    border-radius: 20px;
}

#myAccountBtn:hover {
    background-color: rgb(0, 110, 0);
    color: white;
}

@media(max-width:768px) {
    #myAccountBtn {
        position: static;
        margin: 3px;
    }
}

.QuoteDiv {
    text-align: center;
    background-color: #3d5d36;
    color: white;
    height: 24px;
}

.QuoteDiv p {
    margin: 0;
}

.OurMission {
    margin: 15px;
    margin-bottom: 6px;
    text-align: center;
}

.featurette {
    padding: 30px;
}

.featurette-heading span {
    color: rgba(0, 128, 0, 0.7);
    font-size: 3.6rem;
}

@media(max-width:768px) {
    .myFeaturetteImage {
        margin: 12px;
        width: 80%;
    }

    .MyNavDiv {
        padding: 0;
    }

    .featurette-heading span {
        font-size: 2.6rem;
    }
}

.myFeaturetteImage {
    border-radius: 25px;
    width: 85%;
}

.breakAll {
    word-break: break-all;
}

.narrow {
    padding: 10px;
    height: 60px;
    width: 250px;
    margin: 15px;
    margin-top: 0;
    font-size: 12px;
}

.myProductBox {
    color: rgba(72, 72, 72, 0.75);
    border: 1px solid rgba(128, 128, 128, 0.3);
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    margin: 0 0 30px 30px;
    display: inline-block;
}

.myProductBox {
    box-shadow: 2px 2px 16px 1px rgba(128, 128, 128, 0.3);
}

.myProductBox:hover {
    box-shadow: 3px 3px 26px 1px rgba(128, 128, 128, 0.5);
}

.myProductBox img {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin-bottom: 5px;
}

.btn-outline-success {
    border: 1px solid rgba(25, 135, 84, 0.3);
    color: rgba(0, 128, 0, 0.8);
}

.btn-outline-success:hover {
    box-shadow: 2px 2px 6px 0 rgba(80, 80, 80, 0.4);
}

.myProductBox button {
    margin-bottom: 15px;
    margin-top: 5px;
}

.myProductBox h2 {
    margin-bottom: 0;
    color: green;
}

.mainMarketDiv {
    text-align: center;
}

.CustomerWordsDiv {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}


@media(max-width:768px) {
    .servicesImages {
        display: none;
    }
}

.internalWordsDiv {
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.3);
    border: 1px solid rgba(128, 128, 128, 0.6);
}

.internalWordsDiv:hover {
    box-shadow: 2px 2px 16px 1px rgba(128, 128, 128, 0.3);
}

.internalWordsDiv img {
    border: 2px solid rgb(3, 101, 0);
    transition: all 0.2s;

}

.footer {
    color: #fff;
    /* background-color: green; */
    background-image: url(./images/footerBG.jpg);
    width: 100%;
    width: 100%;
    background-size: auto 100%;
}

.footer h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.2rem;
}

.footerSection {
    backdrop-filter: blur(12px);
    height: 100%;
    background-color: rgba(0, 65, 22, 0.75);
}

.list-style {
    list-style-type: none !important;
    cursor: pointer;
    font-size: 1rem;
    opacity: .8;
}

.footerLinks:hover {
    color: rgb(255, 242, 0);
    font-size: 1.01rem;
}

.copy-right {
    font-size: .75rem;
    opacity: .8;
}

.footerLinks {
    text-decoration: none;
    color: white;
}